@import 'bulma/css/bulma.css';
@import 'https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap';

:root {
  font-family: "Signika Negative", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.cartoon {
  position: absolute;
  left: 150px;
  top: 200px;
  border: 4px solid black;
  border-radius: 5px;
}

.square {
  width: 50px;
  height: 50px;
  animation: rotate 20s linear infinite;
  background-color: #78a1ff;
}

.diamond {
  left: 100px;
  top: 600px;
  width: 50px;
  height: 50px;
  animation: zoom 10s linear infinite;
  transform: rotate(45deg);
  background-color: #ff4949;
}

.line {
  left: 100px;
  top: 100px;
  width: 100px;
  height: 25px;
  animation: rotate_fast 10s ease-in-out infinite;
  background-color: #57ff84;
}

.circle {
  left: 200px;
  top: 600px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: float 5s ease-in-out infinite;
  background-color: #ffff33;
}

main {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Signika Negative", sans-serif;
  color: black;
 }

body {
  font-family: "Signika Negative", sans-serif;
  color: black;
  background-color: #eee;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3 {
  font-weight: 700;
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.blue {
  background-color: #78a1ff;
}

.red {
  background-color: #ff4949;
}

.yellow {
  background-color: #ffff33;
}

.green {
  background-color: #57ff84;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

button {
  font-family: "Signika Negative", sans-serif;
  border: 4px solid black;
  border-radius: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar {
  background: none;
}

.input {
  border: 4px solid black;
  text-align: center;
}

#code_input {
  border: 4px solid black;
  text-align: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes rotate_fast {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(360deg)
  }
  50% {
    transform: rotate(0deg)
  }
  75% {
    transform: rotate(360deg)
  }
  100% {
    transform: rotate(0deg)
  }
}

@keyframes zoom {
    0% {
    transform: rotate(45deg) scale(1);
    }
    25% {
    transform: rotate(45deg) scale(0.85);
    }
    50% {
    transform: rotate(45deg) scale(1);
    }
    75% {
    transform: rotate(45deg) scale(1.15);
    }
    100% {
    transform: rotate(45deg) scale(1);
    }
}

@keyframes float {
    0% {
    transform: translate(0, 0);
    }
    50% {
    transform: translate(0, 20px);
    }
    100% {
    transform: translate(0, 0);
    }
}
